<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Collection</title>
    <link rel="stylesheet" href="css/code.css">
</head>

<headerer>  
    
    <img src ="/images/logov3.PNG">
   
</header>


<body>
    <div class="card-container">
        <h1 class="title">CodeCollection</h1>
        <div id="code-grid" class="code-grid"></div>
        
    </div>

        <a href="/teacher" class="next-page-btn">
    Leaderboard <span>➔</span>
        </a>

    <div class="footer">
        <button id="logoutBtn" class="logout-button">
            <span style="margin-right: 5px;">←</span> LOG OUT
        </button>
        
        <div class="ufo-container">
            <div id="speech-bubble" class="bubble">Hello Groundling! 👽</div>
            <img src="images/UFO1.png" alt="UFO Icon" class="ufo-icon" id="ufo-alien">
        </div>
    </div>

    <script src="js/code.js"></script>
</body>
</html>