<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Scores</title>
    <link rel="stylesheet" href="css/highscore.css">


</head>
<body>

    <div class="container">
        <img src="/images/logov3.PNG" alt="Logo" class="top-logo">

        <div class="leaderboard-card">
            <h1>Highscore</h1>
            
            <ul id="score-list">
                </ul>
        </div>

        <div class="footer">
            <a href="/game">
    <button id="logoutBtn" class="logout-button">
        <span style="margin-right: 5px;">←</span> Back to Game
    </button>
    </a>
    <div class="ufo-container">
    <div id="speech-bubble" class="bubble">
        Hello Groundling! 👽
    </div>
    <img src="images/UFO1.png" alt="UFO Icon" class="ufo-icon" id="ufo-alien">
</div>
</div>

    </div>


    <script src="js/teacher.js"></script>

</body>
</html> 