<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Scores</title>
    <link rel="stylesheet" href="css/highscore.css">


</head>
<body>

    <div class="container">
        <div class="leaderboard-card">
            <h1>Highscore</h1>
            
            <ul id="score-list">
                </ul>
        </div>

        <div class="footer">
    <button id="logoutBtn" class="logout-button">
        <span style="margin-right: 5px;">←</span> LOG OUT
    </button>
    
    <img src="images/UFO1.png" alt="UFO Icon" class="ufo-icon">
</div>

    </div>


    <script src="js/teacher.js"></script>

</body>
</html> 