<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FontysX</title>
  <link rel="stylesheet" href="/css/start.css">
</head>

<body>
<main>
  <section class="hero">
    <header class="main-header">
  <div class="header-container">
    
    <div class="left-section">
      <div class="logo">
        <img src="/images/logov3.PNG" alt="Company Logo">
      </div>
    
    </div>
    <nav class="nav-links">
      <a href="/login" class="btn-cta">Login</a>
      <a href="/register" class="btn-cta">Sign Up</a>
    </nav>
  </div>
</header>
<section class="hero-section">
  <div class="hero-content">
    <h1 class="hero-title">Bridge the Gap. Master the Mission.</h1>
    <p class="hero-text">
      Transforming the student-teacher dynamic through gamified engagement. 
      Complete tasks, earn points, and unlock your full potential in the world of ICT. 
      Your first mission starts now.
    </p>
    </div>
</section>
<div class="video-container">
  <iframe width="1039" 
  height="588" 
  src="https://www.youtube.com/embed/ySAlb-SeaxU" 
  title="Intro video" 
  frameborder="0" 
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
  referrerpolicy="strict-origin-when-cross-origin" 
  allowfullscreen>
</iframe>
</div>
  </section>

</main>
   <footer>
        <span class="author">
        Authors: Marianna, Emre, Zay, Luuk, Daniel <br />
        &copy; 2026 FontysX. All rights reserved.<br />
      </span>
    </footer>
</body>
</html>