* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-header {
  width: 100%;
  background-color: #0f103c;
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}


.header-container {
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 10px; 
}


.left-section {
  display: flex;
  align-items: center;
  gap: 8px; 
}

.logo img {
  height: 65px;
  display: block;
}

.second p {
  color: white;
  font-family: sans-serif;
  font-weight: 500;
  margin: 0;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-item {
  text-decoration: none;
  color: #ffffff;
  font-family: sans-serif;
  font-weight: 500;
}

.btn-cta {
  background-color: #2c1f71;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-family: sans-serif;
  transition: background 0.3s ease;
}

.btn-cta:hover {
  background-color: #0319bc;
}
.hero-video {
  width: 100%;    
  max-width: 800px;  
  border-radius: 10px;
  display: block;
  margin: 20px auto; 
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.hero-section {
  display: flex;
  justify-content: center; 
  align-items: center;      
  text-align: center;      
  background-color: #0f103c; 
  padding: 20px;
}

.hero-content {
  max-width: 800px;         
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  background-color: #0f103c;
}

.hero-title {
  font-size: 2.5rem;      
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

.hero-text {
  font-size: 1.25rem;      
  line-height: 1.6;         
  color: #ffffff;        
}

.author {
      display: block;
      text-align: center;
      color: #ffffff;
      margin-top: 1rem;
      font-size: 0.95rem;
}

body {
  background-color: #0f103c;
  margin: 0;
  padding: 0;
}