body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('/images/background.jpg');
    background-repeat: no-repeat;   
    background-size: cover;         
    background-position: center;     
    background-attachment: fixed;    

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}


.leaderboard-card {
    background-color: #252a5d; 
    width: 600px;
    padding: 40px;
    border-radius: 40px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    text-align: center;
}

h1 {
    font-family: monospace;
    font-size: 3rem;
    margin-bottom: 40px;
}

ul {
    list-style: none;
    padding: 0;
}

.score-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    font-size: 1.5rem;
}

.rank { width: 50px; text-align: left; opacity: 0.8; }
.name { flex-grow: 1; text-align: left; padding-left: 20px; }
.score { font-weight: bold; }



.logout-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%); 
    width: 95%; 
    display: flex;
    justify-content: space-between; 
    align-items: flex-end;
    pointer-events: none; 
}


.ufo-icon, .logout-button {
    pointer-events: auto;
}

.ufo-icon {
    width: 180px;
    height: auto;
    
}

.logout-button {
    background: rgba(93, 75, 255, 0.2); 
    border: 1px solid #085af1;
    color: #b19edd;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    
}
.logout-button:hover {
    background: #1049e4;
    color: white;
    box-shadow: 0 0 15px rgba(14, 4, 110, 0.5);
    transform: translateY(-2px);
}

